<!-- <p>header works!</p> -->
<div class="container" *ngIf="isLoggedIn$ | async">
    <nav class="navbar navbar-expand-sm bg-light navbar-dark" >
        <ul class="navbar-nav">
            <li class="nav-item">
                <button routerLink="/dashboard" class="m-1 btn btn-light btn-outline-primary" Button>Dashboard</button>
            </li>
            <li class="nav-item">
                <button routerLink="/kisiler" class="m-1 btn btn-light btn-outline-primary" Button>Kisiler</button>
            </li>
            <li class="nav-item">
                <button routerLink="/kurslar" class="m-1 btn btn-light btn-outline-primary" Button>Kurslar</button>
            </li>
            <li class="nav-item">
                <button routerLink="/bilgilendirmeler" class="m-1 btn btn-light btn-outline-primary" Button>Bilgilendirmeler</button>
            </li>
            <li class="nav-item">
                <button routerLink="/borclar" class="m-1 btn btn-light btn-outline-primary" Button>Borclar</button>
            </li>
            <li class="nav-item">
                <button routerLink="/izinler" class="m-1 btn btn-light btn-outline-primary" Button>Izinler</button>
            </li>
            <li class="nav-item">
                <button routerLink="/kasabankalar" class="m-1 btn btn-light btn-outline-primary" Button>KasaBankalar</button>
            </li>
            <li class="nav-item">
                <button routerLink="/kodlar" class="m-1 btn btn-light btn-outline-primary" Button>Kodlar</button>
            </li>
            <li class="nav-item">
                <button routerLink="/kullanicilar" class="m-1 btn btn-light btn-outline-primary" Button>Kullanicilar</button>
            </li>
            <li class="nav-item">
                <button routerLink="/kurskayituyeler" class="m-1 btn btn-light btn-outline-primary" Button>KursKayitUyeler</button>
            </li>
            <li class="nav-item">
                <button routerLink="/odemeler" class="m-1 btn btn-light btn-outline-primary" Button>Odemeler</button>
            </li>
            <li class="nav-item">
                <button routerLink="/sorular" class="m-1 btn btn-light btn-outline-primary" Button>Sorular</button>
            </li>
            <li class="nav-item">
                <button routerLink="/tahsilatlar" class="m-1 btn btn-light btn-outline-primary" Button>Tahsilatlar</button>
            </li>
            <li class="nav-item">
                <button (click)="logOutUser()" class="m-1 btn btn-light btn-outline-primary" Button>Çıkış</button>
            </li>
        </ul>
    </nav> 
</div>
