<div class="d-flex flex-row bd-highlight mb-3">

    <div class="form-froup row">
        <label class="col-sm-2 col-form-label">Kurs Adi</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="KursAdi" placeholder="Kurs Adi Gir">
        </div>
        <label class="col-sm-2 col-form-label">Kurs Turu</label>
        <div class="col-sm-10">
            <select class="form-control" [(ngModel)]="KursTurKod">
                <option>--Select--</option>
                <option *ngFor="let turKodName of KursTurleriList" [value]="turKodName.KodDeger">
                    {{turKodName.KodAdi}}
                </option>
            </select>
        </div>
        <label class="col-sm-2 col-form-label">Baslangic Tarihi</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" [ngModel]="BaslangicTarih | date:'yyyy-MM-dd'" (ngModelChange) = "BaslangicTarih = $event" placeholder="Baslangic Tarihi Gir">
        </div>
        <label class="col-sm-2 col-form-label">Bitis Tarihi</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" [ngModel]="BitisTarih | date:'yyyy-MM-dd'" (ngModelChange) = "BitisTarih = $event" placeholder="Bitis Tarihi Gir">
        </div>
        <label class="col-sm-2 col-form-label">Kapasite</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" [(ngModel)]="Kapasite" placeholder="Kapasite Gir">
        </div>
        <label class="col-sm-2 col-form-label">Kurs Ucret</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" [(ngModel)]="KursUcret" placeholder="Kurs Ucret Gir">
        </div>
        <label class="col-sm-2 col-form-label">Egitmen</label>
        <div class="col-sm-10">
            <select class="form-control" [(ngModel)]="EgitmenId">
                <option>--Select--</option>
                <option *ngFor="let egitmen of EgitmenlerList" [value]="egitmen.KisiId">
                    {{egitmen.KisiAdi + " " + egitmen.KisiSoyadi}}
                </option>
            </select>
        </div>
    </div>
</div>

<button type="button" (click)="addKurs()" *ngIf="kurs.KursId==0" class="btn btn-primary float-end">
    Kurs Ekle
</button>

<button type="button" (click)="updateKurs()" *ngIf="kurs.KursId!=0" class="btn btn-primary float-end">
    Kurs Guncelle
</button>