<h2>HOŞGELDİNİZ!</h2>
<h2>Sn. SİNAN ENES</h2>
<p>&nbsp;</p>
<p style="font-size: 1.5em;">BORÇ BİLGİLERİ:  400</p>
<p style="font-size: 1.5em;">ÖDEME BİLGİLERİ: 300</p>
<p style="font-size: 1.5em;">TOPLAM BORÇ:     100</p>
<table class="editorDemoTable">
    <tbody>
        <tr>
            <td><strong>TARİH</strong></td>
            <td><strong>BORÇ DÖNEM</strong></td>
            <td><strong>BORÇ TUTAR</strong></td>
            <td><strong>ÖDENEN TUTAR</strong></td>
            <td><strong>TÜR</strong></td>
        </tr>
        <tr>
            <td>01.01.2021</td>
            <td>01/2021</td>
            <td>50</td>
            <td>50</td>
            <td>AİDAT</td>
        </tr>
        <tr>
            <td>01.02.2021</td>
            <td>02/2021</td>
            <td>50</td>
            <td>50</td>
            <td>AİDAT</td>
        </tr>
        <tr>
            <td>15.02.2021</td>
            <td>02/2021</td>
            <td>300</td>
            <td>200</td>
            <td>KURS</td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>